Library
Temp
Logs
*.vsconfig
WorldIsMine.sln
.vs
obj
UserSettings/Layouts
*.csproj
*.sln
EasyOA.csproj
Nebukam.Beacon.csproj
Nebukam.Common.csproj
Nebukam.Common.Editor.csproj
Nebukam.JobAssist.csproj
Nebukam.ORCA.csproj
Nebukam.Signals.csproj
