Library
Temp
Logs
*.vsconfig
WorldIsMine.sln
.vs
obj
UserSettings/Layouts
*.csproj
*.sln
*.slnx
.vscode/
EasyOA.csproj
Nebukam.Beacon.csproj
Nebukam.Common.csproj
Nebukam.Common.Editor.csproj
Nebukam.JobAssist.csproj
Nebukam.ORCA.csproj
Nebukam.Signals.csproj
code-docs
2222
111
temp-3333/
cfg_table
